POSTGRES_PASSWORD=notverysecurepwd
REDIS_PASSWORD=notverysecurepwd
SECRET_KEY=notverysecuresecretkey
NAUTOBOT_CREATE_SUPERUSER=true
NAUTOBOT_SUPERUSER_API_TOKEN=0123456789abcdef0123456789abcdef01234567
NAUTOBOT_SUPERUSER_PASSWORD=admin
ENABLE_SLACK=true
SLACK_API_TOKEN=slackapitoken
SLACK_SIGNING_SECRET=slacksigningsecret
ENABLE_WEBEX=true
WEBEX_TOKEN=webextoken
WEBEX_SIGNING_SECRET=notverysecuresigningsecret
DEBUG=true
# First APIC
APIC_USERNAME_NTCAPIC=admin
APIC_PASSWORD_NTCAPIC=notverysecurepwd
APIC_URI_NTCAPIC=https://aci.demo.networktocode.com
APIC_VERIFY_NTCAPIC=false
# Second APIC
APIC_USERNAME_LAB=admin
APIC_PASSWORD_LAB=labpassword
APIC_URI_LAB=https://10.100.1.10
APIC_VERIFY_LAB=false
# As many as you need...